.Layout {
    text-align: center;

}

.layout-title {
    margin: 25px 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    transition: all 0.8s ease;
}

.layout-title:hover {
    letter-spacing: 12px;
    font-size: 40px;
    word-spacing: 12px;
    color: steelblue;
    cursor: grab;
}

.layout-author {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: gray;
}

.layout-author img {
    margin: 0 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}